# SECURITY
SECRET_KEY=super-secret-fucking-local-key-dont-use-in-prod
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# DATABASE
POSTGRES_DB=real_estate_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# REDIS (Optional to override local, but good practice)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379